.md-priview {
  height: 800px;
  border: 1px solid #888;
}

.md-priview__parser,
.md-preview__result {
  float: left;
  width: 50%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.md-preview__result {
  border-left: 1px solid #888;
  padding: 10px;
}

.tree-shape-wrapper {
  width: 300px;
}


