/* 分页 */
.paginator {
    display: flex;
    font-size: 12px;
    line-height: 50px;
    align-items: center;
    justify-content: space-between;
}

.count-per-page {
    background-position: 50% 50%;
    cursor: pointer;
}

.count-per-page {
    /*width: 50px;*/
    line-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 2px 15px 0 7px;
    vertical-align: top;
    margin-top: 13px;
    -webkit-background-size: 12px 12px;
    background-size: 12px 12px;
    background-position: right 3px bottom 5px;
    background-image: url(../imgs/down.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.count-per-page:focus {
    background-image: url(../imgs/up.svg);
}

.paginator-button,
.page-input {
    display: inline-block;
    min-width: 22px;
    line-height: 22px;
    border: 1px solid rgb(166, 166, 166);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 5px;
    color: #000;
    text-align: center;
}

.paginator-button.disabled-btn {
    background-color: #eee;
    border: none;
    color: #a0a0a0;
    cursor: not-allowed;
}

.page-button {
    margin-right: 4px;
}

.page-input {
    width: 45px;
    height: 22px;
    outline: none;
    font-size: 12px;
    line-height: 14px;
}

.paginator-button.confirm-btn {
    border: 1px solid #a0a0a0;
    background-color: #f7f7f7;
}

.paginator-button.current-btn,
.paginator-button:not(.disabled-btn):hover {
    border: 1px solid #e86612;
    background-color: #ea853c;
    color: #fff;
}